<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">¿Quien es mi cliente?</h3>
<h5> Nuestro cliente es el actor más importante del negocio, entiende como se dividen, donde los encuentras y por que te necesitan ellos a ti más que tu a ellos, eso es tener un negocio </h5>

<%= render 'form' %>

<%= link_to 'Back', canvas_path %>
