<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Editar</h3>
    <div>
    	<div>

<%= render 'form' %>
<%= link_to 'Show', @dream %> |
<%= link_to 'Back', dreams_path %>