<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Mi sueño</h3>
<h5> Comparte tu sueño con nuestra comunidad. </h5>
    <div>
    	<div>



<%= render 'form' %>

<%= link_to 'Back', dreams_path %>


