<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Mi sueño</h3>
<h5> Comparte tu sueño con nuestra comunidad. </h5>
    <div>
    	<div>



<%= render 'form' %>

<%= link_to 'Back', dreams_path %>

<li> Canvas Plus </li>

	<ol> Clientes </ol>
	<ol> Arquetipo1 </ol>
	<ol> Arquetipo2 </ol>
	<ol> Arquetipo3 </ol>
	<ol> Necesidades </ol>
	<ol> Canales </ol>

	<ol> Problemática </ol>
	<ol> Solución </ol>
	<ol> Productos </ol>
	<ol> Actividades clave </ol>
	<ol> Recursos clave </ol>
	<ol> Propuesta de valor </ol>
	<ol> Relación con clientes </ol>
	<ol> Segmento de clientes </ol>
	<ol> Stakeholders </ol>
	<ol> Costos </ol>
	<ol> Ingresos </ol>
<li> Registro </li>
<li> Infografía </li>
