
<%= image_tag @dream.image.url(:medium) %>
<p>
  <strong>Dream:</strong>
  <%= @dream.dream %>
</p>

<% if @dream.user == current_user %>
<%= link_to 'Edit', edit_dream_path(@dream) %> |
<% end %>
<%= link_to 'Back', dreams_path %>
