<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Los aspectos externos de mi negocio/h3>
<h5> Ahora vamos a navegar en lo desconocido y entender mejor lo que quieren mis clientes </h5>

<%= render 'form' %>

<%= link_to 'Back', canvas_lado_derechos_path %>
