<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> Los costos </h3>
<h5> Entender muy bien lo que me cuesta cada cosa que quiero hacer me va a ayudar a entender mejor mis propias necesidades. </h5>

<%= render 'form' %>

<%= link_to 'Back', canvas_financiero_costos_path %>
