<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Los aspectos internos de mi negocio</h3>
<h5> Definir todos los aspectos internos de tu negocio, te van a ayudar a controlar lo controlable </h5>

<%= render 'form' %>

<%= link_to 'Back', canvas_lado_izquierdos_path %>
