<h1> Videos <i class="fa fa-heart"></i></h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
   
      <h2></h2>
<div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/YF_r9PRabu4" frameborder="0" allowfullscreen></iframe>
</div>

    </div>
    <div class="col-sm-6">
 

      <h2></h2>
<div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yw5Q9-YbFjY" frameborder="0" allowfullscreen></iframe>
</div>
    </div>

    <div class="col-sm-6">
   
      <h2></h2>
<div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LH6-uB6Odgg" frameborder="0" allowfullscreen></iframe>
</div>

    </div>
    <div class="col-sm-6">
 

      <h2></h2>
<div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ao86SaytyCM" frameborder="0" allowfullscreen></iframe>
</div>    
  </div>
</div>