
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"></h2>
<h1> Formulario de pedido de productos agrícolas </h1>

<%= render 'form' %>

<%= link_to 'Atras', pedidos_path %>