
<div class="jumbotron">
		<h1>Bienvenidos a Lapapaya</h1>
		<h3> Comparte tu sueño con otros miles de personas y consigue apoyo, sponsors o colaboradores.</h3>
	<p>
<br>
		<%= link_to "Postear mi sueño", new_user_session_path, class: "btn btn-default" %> 
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default" %>
	</p>
</div>

<div class = "navbar navbar-default navbar-fixed-bottom">

	<div class = "navbar-text">
		<p> Site Built By Pipe </p>
		
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://lapapaya.us1.list-manage.com/subscribe/post?u=a616d7d1b7efa5791fa937679&amp;id=11dcf7ab20" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<h2 style="color:black; font-size:20px; position:absolute;
left:65px;
top:25px;">Envíanos más información por favor:</h2>

</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: 400px;top:45px;"><input type="text" name="b_a616d7d1b7efa5791fa937679_11dcf7ab20" value=""></div>

	<div style="color:black; font-size:20px; position:absolute;
left:600px;
top:40px;"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->



	</div>
	</div>
