
<div class="jumbotron">
		
		<h2> Comparte tu sueño con otros miles de personas y consigue apoyo, sponsors o colaboradores.</h2>
		<h4> Somos una red de sueños que podrían cambiar el mundo. Cómo intercambio donamos tiempo para que los sueños se cumplan. Entre más sueños ayudas ganas puntos que hacen que el resto de nuestra comunidad te pueda ayudar con los tuyos. Una vez te hayamos ayudado debes ayudar a tres personas más</h4>
	<p>
<br>
		<%= link_to "Postear mi sueño", new_user_session_path, class: "btn btn-default" %> 
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default" %>
	</p>
</div>

<div class = "navbar navbar-default navbar-fixed-bottom">

	<div class = "navbar-text">
	
<div id="mc_embed_signup">
<form action="http://lapapaya.us1.list-manage1.com/subscribe/post?u=a616d7d1b7efa5791fa937679&amp;id=9889791294" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">¿Quieres recibir informacion nuestra? Escribe aquí tu email</label> 
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_a616d7d1b7efa5791fa937679_9889791294" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Cuentame más" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
	
	</div>
	</div>
