
<div class="jumbotron">
		<h1>Bienvenidos a Lapapaya</h1>
		<h3> Comparte tu sueño con otros miles de personas y consigue apoyo, sponsors o colaboradores.</h3>
	<p>
<br>
		<%= link_to "Postear mi sueño", new_user_session_path, class: "btn btn-default" %> 
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default" %>
	</p>
</div>

<div class = "navbar navbar-default navbar-fixed-bottom">

	<div class = "container">
		<p> Site Built By Pipe </p>

	</div>
	</div>
