
<h1>¿Que es esto?</h1>
<br>
<br>
<p> Sómos una plataforma donde puedes compartir tus sueños con otras personas.</p>
<br>
<br>
<br>

<div class="btn-group">

  <%= link_to "¿Por que existe lapapaya?", pages_porq_path, class: "btn btn-default" %> 
  <%= link_to "¿Que otros sueños existen?", pages_q_path, class: "btn btn-default" %> 
  <%= link_to "¿Quienes son lapapaya?", pages_quienesson_path, class: "btn btn-default" %> 
  <%= link_to "¿En qué me puedo beneficiar?", pages_enqmebeneficio_path, class: "btn btn-default" %> 
</div>

