
<h1>¿Que es esto?</h1>

<p> Sómos una red de sueños que podrían cambiar el mundo, aumentar la felicidad y acabar con la violencia, le apatía, la injusticia y el egoismo.</p>

<h4> Manifiesto </h4>

<p> Falta de Alternativas para que la juventud pueda encontrar una forma de vida mejor. </p> 

<li>Causas</li>

<li> Ser </li>
<br>
<p> Falta de espacios y motivos de reflexión que den sentido al descubrimiento de la esencia de su vida cómo ser. </p>

<li> Cultural </li>

<li> Educativo </li>
<br>
<p> No existen opciones para el 99% de los muchachos una vez terminen su bachillerato. </p>

<li> Económico </li>
<br>
<p> La educación está aislada de el futuro profesional y laboral de los jóvenes. </p>

<li> Social </li>
<br>
<p> Exceso de individualismo en la cosmovisión de los muchachos. </p>
<li> Medio Ambiental </li>

<li> Exceso de consumo </li>
<br>

<div class="btn-group">

  <%= link_to "¿Por que existe lapapaya?", pages_porq_path, class: "btn btn-default" %> 
  <%= link_to "¿Que otros sueños existen?", pages_q_path, class: "btn btn-default" %> 
  <%= link_to "¿Quienes son lapapaya?", pages_quienesson_path, class: "btn btn-default" %> 
  <%= link_to "¿En qué me puedo beneficiar?", pages_enqmebeneficio_path, class: "btn btn-default" %> 
</div>
<br>
<br>
