
<h1>¿Que es esto?</h1>

<p> Sómos una red de sueños que podrían cambiar el mundo, aumentar la felicidad y acabar con la violencia, le apatía, la injusticia y el egoismo.</p>

<h4> Manifiesto </h4>

<p> Falta de Alternativas para que la juventud pueda encontrar una forma de vida mejor. </p> 

<li>Causas</li>

<li> Ser </li>
<br>
<p> Falta de espacios y motivos de reflexión que den sentido al descubrimiento de la esencia de su vida cómo ser. </p>

<li> Cultural </li>

<li> Educativo </li>
<br>
<p> No existen opciones para el 99% de los muchachos una vez terminen su bachillerato. </p>

<li> Económico </li>
<br>
<p> La educación está aislada de el futuro profesional y laboral de los jóvenes. </p>

<li> Social </li>
<br>
<p> Exceso de individualismo en la cosmovisión de los muchachos. </p>
<li> Medio Ambiental </li>

<li> Exceso de consumo </li>
<br>

<div data-configid="1814511/8352615" style="width: 325px; height: 271px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
<br>

<div data-configid="1814511/8361791" style="width: 525px; height: 742px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>

<br>

<div class="btn-group">

  <%= link_to "¿Por que existe lapapaya?", pages_porq_path, class: "btn btn-default" %> 
  <!-- <%= link_to "¿Que otros sueños existen?", pages_q_path, class: "btn btn-default" %> -->
  
  <%= link_to "¿Quienes son lapapaya?", pages_quienesson_path, class: "btn btn-default" %> 
  <%= link_to "¿En qué me puedo beneficiar?", pages_enqmebeneficio_path, class: "btn btn-default" %> 
</div>
<br>
<br>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lapapaya.org</h3>
  </div>
  <div class="panel-body">
    
<div class="row">
  <div class="col-xs-6 col-sm-3">ONG Lapapaya.org</div>
  <div class="col-xs-6 col-sm-3">Human Centered Design</div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-3">"El sueño es el centro del diseño. Diseñamos programas de educación, emprendimiento y espacios. 
Partiendo de un sueño se construye el mejor producto deseado por un cliente. "</div>
  <div class="col-xs-6 col-sm-3"> 
  >	Ideo HCD Toolkit <br>
  > Tesis capítulo 3.1 <br>
  > IAAC <br>
  > Good <br>
</div>
  <div class="col-xs-6 col-sm-3">
</div>
</div>
<br>

<div class="row">
  <div class="col-xs-6 col-sm-3"></div>
  <div class="col-xs-6 col-sm-3">New Economy</div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-3">
  	Que la economia pueda medir el nivel de conciencia de los usuarios brindando mayor beneficio a los usuarios mas concientes.</div>
  <div class="col-xs-6 col-sm-3"> 
  Bitcoin: Monedas virtuales que apoyan proyectos con impacto social y medio ambiental.
<br><br>
> P2P Foundation<br>
> Mit Bitcoin Expo<br>
> IGC3 España<br>
> Dinero y conciencia<br>
> Tésis capítulo 3.4<br>
> 0% Interest<br>

</div>
  <div class="col-xs-6 col-sm-3">
</div>
</div>

<br>
<div class="row">
  <div class="col-xs-6 col-sm-3"></div>
  <div class="col-xs-6 col-sm-3">Collaboration</div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-3">
  	Nuestra pedagogia premia a las personas por colaborar en la consecucion de resultados, en lugar de asignar notas que generan roses entre los alumnos reduciendo la capacidad de trabajo en equipo. <br>
"Por medio de las monedas virtuales se
 premian las personas por colaborar."</div>
  <div class="col-xs-6 col-sm-3"> 
> Co creación<br>
> Co-working<br>
> Shared value<br>
> Inteligencias colectivas<br>
<br>

</div>
  <div class="col-xs-6 col-sm-3">
</div>
</div>



  </div>
</div>
