<%= link_to 'Back', about_path %>
<br>
<br>
<p>Formar parte de un grupo de personas que entienden tus propósitos en la vida y quieren ayudarte a cumplirlos es lo más cercano que puedes estar del cielo.</p>
