
<div class="jumbotron">
		<h1>Bienvenidos a Lapapaya</h1>
		<h3> Comparte tu sueño con otros miles de personas y consigue apoyo, sponsors o colaboradores.</h3>
		<% if user_signed_in? %>
		<h3>Tu vida es el más bello camino que podrás recorrer, tus sueños son lo único que podrá hacerte vencer el miedo a los obstáculos.</h3>
<%= link_to "Postear mi sueño", new_dream_path, class: "btn btn-large btn-primary" %> 
<br>
<br>
<br>
<p>	
	<img src="http://3.bp.blogspot.com/-uVQtdHLH6e0/UDz86ERzIbI/AAAAAAAAA4k/AWlmh4oO6uc/s640/landscape-fall.jpg" class="img-rounded">
	<% else %>
	<p>

		<%= link_to "Postear mi sueño", new_user_session_path, class: "btn btn-large btn-primary" %> 
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		

	</p>
<% end %>

</div>