






</html>
<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Flat Pricing table - CodePen</title>

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

</head>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Convierte tu empresa en un benefactor nuestro</h3>
  </div>
  <div class="panel-body">

  	
<h3>Cada vez más el Marqueting social se está volviendo en una excelente manera de mostrar el apoyo y el compromiso de las empresas con el desarrollo social de las regiones. Esta podría ser una excelente oportunidad para convertir una buena causa social en una muestra de tu compromiso con la sociedad y la región</h3>

<div class="row">
  <div class="col-xs-6 col-sm-3">
  	<strong> Para cualquier cosa te puedes comunicar con nosotros al celular 3207217643 o el email milsuenosporcali@lapapaya.org / admin@lapapaya.org</strong><br>
  </div>

    <div class="wrapper">
        <!-- PRICING-TABLE CONTAINER -->
        <div class="pricing-table group">
            <h1 class="heading">
                Tabla de precios
            </h1>
            <!-- PERSONAL -->
            <div class="block personal fl">
                <h2 class="title">Bronce</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>$</sup>
                        <span>$1' M</span>
                        <sub>/illon</sub>
                    </p>
                    <p class="hint">Para freelancers</p>
                </div>
                <!-- /CONTENT -->
                <!-- FEATURES -->
                <ul class="features">
                     <li><span class="fontawesome-cog"></span>Tu logo aparecerá en todas nuestras publicidades</li>
                    <li><span class="fontawesome-star"></span>Alcance en FB 5300</li>
                    <li><span class="fontawesome-dashboard"></span>Casi 100 emprendimientos sociales</li>
                    <li><span class="fontawesome-cloud"></span>Publicidad, pendones, página web</li>
                </ul>
                <!-- /FEATURES -->
                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p>Transformemos a Cali</p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /PERSONAL -->
            <!-- PROFESSIONAL -->
            <div class="block professional fl">
                <h2 class="title">Plata</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>$</sup>
                        <span>2' M</span>
                        <sub>/illones</sub>
                    </p>
                    <p class="hint">Para Startups</p>
                </div>
                <!-- /CONTENT -->
                <!-- FEATURES -->
                <ul class="features">
                     <li><span class="fontawesome-cog"></span>Tu logo aparecerá en todas nuestras publicidades + Agendas</li>
                    <li><span class="fontawesome-star"></span>Alcance en FB 5300</li>
                    <li><span class="fontawesome-dashboard"></span>Casi 100 emprendimientos sociales</li>
                    <li><span class="fontawesome-cloud"></span>Publicidad, pendones, página web</li>
                </ul>
                <!-- /FEATURES -->
                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p>Transformemos a Cali</p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /PROFESSIONAL -->
            <!-- BUSINESS -->
            <div class="block business fl">
                <h2 class="title">Oro</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>$</sup>
                        <span>3' M</span>
                        <sub>/illones</sub>
                    </p>
                    <p class="hint">Para empresas e instituciones</p>
                </div>
                <!-- /CONTENT -->

                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-cog"></span>Tu logo aparecerá en todas nuestras publicidades + Camisetas</li>
                    <li><span class="fontawesome-star"></span>Alcance en FB 5300</li>
                    <li><span class="fontawesome-dashboard"></span>Casi 100 emprendimientos sociales</li>
                    <li><span class="fontawesome-cloud"></span>Publicidad, pendones, página web</li>
                </ul>
                <!-- /FEATURES -->

                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p>Transformemos a Cali</p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /BUSINESS -->
        </div>
        <!-- /PRICING-TABLE -->
    </div>

    
</div>