<%= link_to 'Back', about_path%>
<p>Por que habemos personas que estamos cansados de ver la apatía y la violencia en las calles. Existimos por que nos duele ver a niños trabajando, a jóvenes sin empleo y a personas que no tienen oportunidades en la vida. Este proyecto está respaldado por un libro que puedes encontrar aquí.</p>

