<%= link_to 'Back', about_path %>
<h1>¿Quienes somos?</h1>
<p>Entendemos que si estás en este sitio es por que eres un ciudadano del mundo, cómplices de sueños, hacedores de favores. Nuestro sueño nace de la necesidad de encontrar espacios comunes para las personas de las ciudades. Nuestro objetivo es abrir los espacios para que la transformación ocurra</p>
<%= link_to (image_tag "ciudad.jpg") %><br/>

