<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Mis ingresos</h3>
<h5> Es importante saber cuanto vas a ganar con tu negocio y lo que vas a obtener, define el valor de venta de tus productos y empieza a obtener ingresos por tu trabajo </h5>
    <div>
    	<div>

<%= render 'form' %>

<%= link_to 'Back', canvas_financiero_ingresos_path %>

