
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Vamos a medir de que está echa tu comunidad</h3>
<h5> Publica un reto </h5>


    <div>
    	<div>


<%= render 'form' %>

<%= link_to 'Back', microposts_path %>
