<% if  (@resource.name.nil? ||  @resource.name.blank?) &&  (@resource.name.nil? ||  @resource.lastname.blank?) %>
<p>¡Hola <%= @resource.email %>!</p>
<% else if %>
<% end %>
<% end %>
<p>Has solicitado el restablecimiento de tu contraseña</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
