<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Las etapas de mi sueño</h3>
<h5> Para hacer realidad tu sueño, es importante dividirlo en etapas </h5>
    <div>
    	<div>

<%= render 'form' %>

<%= link_to 'Back', etapas_path %>
