<div class = "navbar navbar-default navbar-fixed-bottom">
  <div class = "navbar-text">
    <p> Propuesta de Urbanismo Social Equipo Vrissa, Solar Decathlon Sena. </p>
    <p> <%= link_to "Lapapaya Coworking", "http://meetrico.com/coworking_spaces/104", :target => "_blank" %>
      Cra 35 No 3-27 San Fernando Cali - Celular 3207217643
    </p>
  </div>
</div>
