<!DOCTYPE html>
<html lang="es">
<body>
<main>
  <h3>¡ Hola <%= @name_user %> <%= @lastname_user %>!</h3>
  <p>Gracias por apoyar el sueño <%= @dream_number %></p>
</main>
<footer>
  <%= render 'layouts/footer' %>
</footer>
</body>
</html>
